/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 17, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
  This should be generic style that help format content, i.e. body style, h1, etc 
  For header/footer, look at _layout.scss 
*/
/* line 10, ../sass/_core.scss */
html, body {
  color: #545454;
  font-family: "open-sans-condensed",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  background: #232323;
}

/* sorry mark */
/* line 21, ../sass/_core.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/_core.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 28, ../sass/_core.scss */
.content {
  background: white;
}

/* line 32, ../sass/_core.scss */
strong {
  font-style: normal;
  font-weight: 700;
}

/* line 33, ../sass/_core.scss */
em {
  font-style: italic;
  font-weight: 400;
}

/* line 34, ../sass/_core.scss */
em strong, strong em {
  font-style: italic;
  font-weight: 700;
}

/* line 36, ../sass/_core.scss */
a, a:visited, a:hover {
  color: #009ddc;
  text-decoration: none;
}

/* line 37, ../sass/_core.scss */
a:hover {
  color: #333;
  text-decoration: underline;
}

/* line 39, ../sass/_core.scss */
.small {
  font-size: 10px;
  line-height: 16px;
}

/* line 42, ../sass/_core.scss */
.address a {
  margin-right: 6px;
}

/* line 47, ../sass/_core.scss */
h1 {
  color: #009ddc;
  font-size: 36px;
}

/* line 52, ../sass/_core.scss */
p {
  margin: 8px 0 8px 0;
}

/* line 55, ../sass/_core.scss */
img {
  max-width: 100%;
}

/* line 59, ../sass/_core.scss */
.conduct {
  max-width: 800px;
  margin: 0 auto;
}
/* line 62, ../sass/_core.scss */
.conduct ul li {
  list-style: disc inside;
}

/* line 66, ../sass/_core.scss */
.campus-masthead {
  position: relative;
}
/* line 68, ../sass/_core.scss */
.campus-masthead h1 {
  padding: 0;
  margin: 0;
  color: white;
  position: absolute;
  top: 32px;
  left: 32px;
}

/* line 78, ../sass/_core.scss */
.mad {
  color: #009ddc;
}

/* line 81, ../sass/_core.scss */
.urp {
  color: #b32216;
}

/* line 1, ../sass/_layout.sass */
header {
  -webkit-box-shadow: inset 0 -4px 2px -2px #cccccc;
  -moz-box-shadow: inset 0 -4px 2px -2px #cccccc;
  box-shadow: inset 0 -4px 2px -2px #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  background: white;
  min-height: 140px;
}
/* line 7, ../sass/_layout.sass */
header .contact-tab {
  background: url("../images/contact-tab.png") no-repeat 0 0;
  color: white;
  padding: 4px 55px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 210px;
}
/* line 15, ../sass/_layout.sass */
header .contact-tab a {
  color: white;
  text-decoration: none;
}
/* line 18, ../sass/_layout.sass */
header .contact-tab a img {
  position: relative;
  top: 4px;
}
/* line 21, ../sass/_layout.sass */
header img.logo {
  max-width: 40%;
  float: left;
}
/* line 24, ../sass/_layout.sass */
header .locations {
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 27, ../sass/_layout.sass */
header .location {
  float: left;
  width: 180px;
}
/* line 30, ../sass/_layout.sass */
header .location h1 {
  color: #545454;
  font-weight: 100;
}
/* line 33, ../sass/_layout.sass */
header .location h2 {
  color: #bfbfbf;
  font-weight: 100;
  font-size: 20px;
}

/* line 38, ../sass/_layout.sass */
footer {
  background: #232323;
  overflow: hidden;
  *zoom: 1;
}
/* line 41, ../sass/_layout.sass */
footer .wrap {
  padding: 20px;
}
/* line 43, ../sass/_layout.sass */
footer section {
  float: left;
  width: 25%;
  padding: 16px;
}
/* line 47, ../sass/_layout.sass */
footer section h3 {
  color: white;
}
/* line 49, ../sass/_layout.sass */
footer section a, footer section a:visited {
  color: #545454;
}
/* line 51, ../sass/_layout.sass */
footer section a:hover, footer section a:visited:hover {
  color: #009ddc;
}
/* line 53, ../sass/_layout.sass */
footer section i.fa {
  color: #009ddc;
  font-size: 20px;
}

/* line 57, ../sass/_layout.sass */
.wrap {
  margin: 0 auto;
  max-width: 1100px;
  padding: 40px;
  position: relative;
}

/* line 10, ../sass/mobile.scss */
header h1, header h2 {
  font-size: .8em;
}
/* line 13, ../sass/mobile.scss */
header .locations, header .location, header img.logo {
  float: none;
  display: block;
  max-width: 100%;
}

/* line 20, ../sass/mobile.scss */
.content p {
  padding: 8px;
}

/* line 25, ../sass/mobile.scss */
.coming-soon {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
/* line 31, ../sass/mobile.scss */
.coming-soon em {
  background: #009ddc;
  border-radius: 100px;
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  max-width: 350px;
  padding: 10px 20px;
}

/* line 44, ../sass/mobile.scss */
.footer {
  background: #ddd;
  border-top: 4px solid #ccc;
  margin-top: 20px;
  width: 100%;
}

/* line 51, ../sass/mobile.scss */
.address-wrapper {
  border-bottom: 2px solid #ccc;
}

/* line 55, ../sass/mobile.scss */
.address {
  padding: 10px;
}

/* line 59, ../sass/mobile.scss */
.twitter-link-wrapper {
  border-bottom: 2px solid #ccc;
  padding: 10px;
  text-align: center;
}
/* line 65, ../sass/mobile.scss */
.twitter-link-wrapper a, .twitter-link-wrapper a:visited, .twitter-link-wrapper a:hover {
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
}

/* line 72, ../sass/mobile.scss */
.twitter-timeline-wrapper {
  margin: 10px auto;
  max-width: 500px;
}

/* line 76, ../sass/mobile.scss */
.campus-masthead h1 {
  top: 0px;
  left: 4px;
  font-size: 28px;
}
