/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 17, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* This should be generic style that help format content, i.e. body style, h1, etc
 * For header/footer, look at _layout.scss
 */
/* line 11, ../sass/_core.sass */
html, body {
  color: #545454;
  font-family: "open-sans-condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  background: #232323;
}

/* line 20, ../sass/_core.sass */
p {
  font-family: "open-sans", sans-serif;
}

/* line 23, ../sass/_core.sass */
ul.list {
  list-style: disc outside;
  text-align: left;
  margin-left: 10%;
}
/* line 27, ../sass/_core.sass */
ul.list li {
  font-family: "open-sans", sans-serif;
}

/* line 31, ../sass/_core.sass */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 34, ../sass/_core.sass */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 37, ../sass/_core.sass */
.content {
  background: white;
}

/* line 40, ../sass/_core.sass */
strong {
  font-style: normal;
  font-weight: 700;
}

/* line 44, ../sass/_core.sass */
em {
  font-style: italic;
  font-weight: 400;
}

/* line 48, ../sass/_core.sass */
em strong, strong em {
  font-style: italic;
  font-weight: 700;
}

/* line 52, ../sass/_core.sass */
a, a:visited, a:hover {
  color: #009ddc;
  text-decoration: none;
}

/* line 56, ../sass/_core.sass */
a:hover {
  color: #333333;
  text-decoration: underline;
}

/* line 60, ../sass/_core.sass */
.small {
  font-size: 10px;
  line-height: 16px;
}

/* line 65, ../sass/_core.sass */
.address a {
  margin-right: 6px;
}

/* line 68, ../sass/_core.sass */
h1, h2 {
  color: #3f3f3f;
  text-transform: uppercase;
  text-shadow: -2px 2px 0px #dddddd;
}

/* line 73, ../sass/_core.sass */
h1 {
  font-size: 36px;
}

/* line 76, ../sass/_core.sass */
h2 {
  font-size: 28px;
}

/* line 79, ../sass/_core.sass */
h3 {
  font-size: 24px;
}

/* line 82, ../sass/_core.sass */
p {
  margin: 8px 0 8px 0;
}

/* line 85, ../sass/_core.sass */
img {
  max-width: 100%;
}

/* line 88, ../sass/_core.sass */
.conduct {
  max-width: 800px;
  margin: 0 auto;
}
/* line 91, ../sass/_core.sass */
.conduct ul li {
  list-style: disc inside;
}

/* line 94, ../sass/_core.sass */
.campus-masthead {
  position: relative;
}
/* line 96, ../sass/_core.sass */
.campus-masthead h1 {
  padding: 0;
  margin: 0;
  color: white;
  position: absolute;
  top: 32px;
  left: 32px;
}

/* line 104, ../sass/_core.sass */
.mad {
  color: #009ddc;
}

/* line 107, ../sass/_core.sass */
.urp {
  color: #b32216;
}

/* line 110, ../sass/_core.sass */
.highlight {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 4px #cccccc;
  -moz-box-shadow: 0 0 4px #cccccc;
  box-shadow: 0 0 4px #cccccc;
  border: 1px solid #cccccc;
  padding: 20px;
}
/* line 115, ../sass/_core.sass */
.highlight h1, .highlight h2 {
  font-size: 48px;
}
/* line 117, ../sass/_core.sass */
.highlight h2 {
  font-size: 30px;
}

/* line 120, ../sass/_core.sass */
.deadline {
  color: firebrick;
  text-align: center;
}

/* line 125, ../sass/_core.sass */
table {
  width: 100%;
  font-size: 18px;
}
/* line 128, ../sass/_core.sass */
table th {
  font-weight: bold;
  border-bottom: 1px solid #009ddc;
}
/* line 131, ../sass/_core.sass */
table tr:nth-child(2n+1) {
  background-color: #dcf5ff;
}
/* line 133, ../sass/_core.sass */
table tr:first-child {
  background-color: transparent;
}

/* line 1, ../sass/_home.sass */
.jumbotron {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 440px;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
/* line 9, ../sass/_home.sass */
.jumbotron .credit {
  background: rgba(255, 255, 255, 0.6);
  padding: 4px;
  position: absolute;
  bottom: 4px;
  right: 4px;
}
/* line 17, ../sass/_home.sass */
.jumbotron .highlight {
  min-height: 180px;
  margin: 100px auto;
  max-width: 80%;
  position: relative;
  text-align: center;
  width: 680px;
}
/* line 24, ../sass/_home.sass */
.jumbotron .highlight h3 {
  margin-top: 8px;
  font-size: 30px;
}
/* line 27, ../sass/_home.sass */
.jumbotron .highlight a.action-button {
  font-size: 20px;
  display: block;
  width: 150px;
  margin: 20px auto;
  background: #009ddc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 8px;
  color: white;
}

/* line 1, ../sass/_layout.sass */
header {
  -webkit-box-shadow: inset 0 -4px 2px -2px #cccccc;
  -moz-box-shadow: inset 0 -4px 2px -2px #cccccc;
  box-shadow: inset 0 -4px 2px -2px #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  background: white;
  min-height: 140px;
}
/* line 7, ../sass/_layout.sass */
header .contact-tab {
  background: url("../images/contact-tab.png") no-repeat 0 0;
  color: white;
  padding: 4px 55px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 210px;
}
/* line 15, ../sass/_layout.sass */
header .contact-tab a {
  color: white;
  text-decoration: none;
}
/* line 18, ../sass/_layout.sass */
header .contact-tab a img {
  position: relative;
  top: 4px;
}
/* line 21, ../sass/_layout.sass */
header img.logo {
  max-width: 40%;
  float: left;
}
/* line 24, ../sass/_layout.sass */
header .locations {
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 27, ../sass/_layout.sass */
header .location {
  float: left;
  width: 180px;
}
/* line 30, ../sass/_layout.sass */
header .location h1, header .location h2 {
  text-shadow: none;
}
/* line 32, ../sass/_layout.sass */
header .location h1 {
  color: #545454;
  font-weight: 100;
}
/* line 35, ../sass/_layout.sass */
header .location h2 {
  color: #bfbfbf;
  font-weight: 100;
  font-size: 20px;
  text-transform: none;
}
/* line 40, ../sass/_layout.sass */
header .location a:hover {
  text-decoration: none;
}

/* line 44, ../sass/_layout.sass */
footer {
  background: #232323;
  overflow: hidden;
  *zoom: 1;
}
/* line 47, ../sass/_layout.sass */
footer .wrap {
  padding: 20px;
}
/* line 49, ../sass/_layout.sass */
footer section {
  float: left;
  width: 25%;
  padding: 16px;
}
/* line 53, ../sass/_layout.sass */
footer section h3 {
  color: white;
}
/* line 55, ../sass/_layout.sass */
footer section a, footer section a:visited {
  color: #545454;
}
/* line 57, ../sass/_layout.sass */
footer section a:hover, footer section a:visited:hover {
  color: #009ddc;
}
/* line 59, ../sass/_layout.sass */
footer section i.fa {
  color: #009ddc;
  font-size: 20px;
}

/* line 63, ../sass/_layout.sass */
.wrap {
  margin: 0 auto;
  max-width: 1100px;
  padding: 40px;
  position: relative;
}

/* line 11, ../sass/mobile.scss */
header img.logo {
  float: none;
  max-width: 100%;
}
/* line 16, ../sass/mobile.scss */
header .location h2 {
  font-size: 16px;
}

/* line 24, ../sass/mobile.scss */
footer section {
  float: none;
  width: 100%;
}

/* line 30, ../sass/mobile.scss */
.sub-nav-tabs {
  display: none;
}

/* line 34, ../sass/mobile.scss */
.campus .portfolio .company {
  border-top: 1px solid #009ddc;
  padding-top: 8px;
  margin-top: 8px;
}
/* line 38, ../sass/mobile.scss */
.campus .portfolio .company h4 {
  font-size: 28px;
}
/* line 41, ../sass/mobile.scss */
.campus .portfolio .company img {
  max-height: 30px;
  float: right;
}
/* line 46, ../sass/mobile.scss */
.campus .tab {
  border-bottom: 2px solid #333;
  padding: 16px 0;
}
/* line 49, ../sass/mobile.scss */
.campus .tab h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
/* line 54, ../sass/mobile.scss */
.campus .application-link {
  display: block;
  font-size: 20px;
}
/* line 58, ../sass/mobile.scss */
.campus iframe {
  display: none;
}
