/*
Syntax error: Undefined variable: "$madworks-blue".
        on line 27 of /Users/bsamson/madworkscw.github.io/sass/_core.scss
        from line 6 of /Users/bsamson/madworkscw.github.io/sass/mobile.scss

Backtrace:
/Users/bsamson/madworkscw.github.io/sass/_core.scss:27
/Users/bsamson/madworkscw.github.io/sass/mobile.scss:6
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/script/variable.rb:49:in `_perform'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/script/node.rb:40:in `perform'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:296:in `visit_prop'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:225:in `map'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/engine.rb:315:in `_render'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.4/lib/sass/engine.rb:262:in `render'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `call'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `run'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `load'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `<main>'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `eval'
/Users/bsamson/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$madworks-blue\".\A         on line 27 of /Users/bsamson/madworkscw.github.io/sass/_core.scss\A         from line 6 of /Users/bsamson/madworkscw.github.io/sass/mobile.scss"; }
