/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_core.scss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, li, th, td {
  color: #333;
  font-family: "faricy-new-web",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

/* line 11, ../sass/_core.scss */
strong {
  font-style: normal;
  font-weight: 700;
}

/* line 12, ../sass/_core.scss */
em {
  font-style: italic;
  font-weight: 400;
}

/* line 13, ../sass/_core.scss */
em strong, strong em {
  font-style: italic;
  font-weight: 700;
}

/* line 15, ../sass/_core.scss */
a, a:visited, a:hover {
  color: #009ddc;
}

/* line 16, ../sass/_core.scss */
a:hover {
  color: #333;
}

/* line 18, ../sass/_core.scss */
.small {
  font-size: 10px;
  line-height: 16px;
}

/* line 21, ../sass/_core.scss */
.address a {
  margin-right: 6px;
}

/* line 26, ../sass/_core.scss */
h1 {
  color: #009ddc;
  font-size: 36px;
}

/* line 31, ../sass/_core.scss */
p {
  margin: 8px 0 8px 0;
}

/* line 35, ../sass/_core.scss */
.conduct {
  max-width: 800px;
  margin: 0 auto;
}
/* line 38, ../sass/_core.scss */
.conduct ul li {
  list-style: disc inside;
}

/* line 2, ../sass/_members.sass */
.members p, .members dd {
  font-size: 16px;
  line-height: 1.4;
}
/* line 5, ../sass/_members.sass */
.members .member {
  padding: 16px;
  margin: 16px;
}
/* line 8, ../sass/_members.sass */
.members .member h2 {
  font-size: 26px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 16px;
  line-height: 50px;
}
/* line 13, ../sass/_members.sass */
.members .member h2 a {
  color: black;
  text-decoration: none;
}
/* line 16, ../sass/_members.sass */
.members .member h2 a:hover {
  color: #009ddc;
}
/* line 18, ../sass/_members.sass */
.members .member img {
  max-height: 100px;
  max-width: 200px;
  float: right;
  margin: 0 0 16px 16px;
}
/* line 23, ../sass/_members.sass */
.members .member dl {
  margin: 8px;
}
/* line 25, ../sass/_members.sass */
.members .member dl dt {
  display: inline-block;
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #cccccc;
}

/* line 12, ../sass/screen.scss */
.content {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding-bottom: 150px;
}

/* line 21, ../sass/screen.scss */
.logo {
  left: 0;
  position: relative;
  text-align: center;
  top: -150px;
  width: 100%;
  margin-bottom: 32px;
}
/* line 29, ../sass/screen.scss */
.logo img {
  height: 112px;
  width: 600px;
}

/* line 32, ../sass/screen.scss */
.coming-soon {
  display: none;
  left: 0;
  position: fixed;
  text-align: center;
  top: 140px;
  width: 100%;
}
/* line 41, ../sass/screen.scss */
.coming-soon em {
  background: #009ddc;
  border-radius: 100px;
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
  padding: 10px 20px;
  width: 350px;
}

/* line 54, ../sass/screen.scss */
.footer {
  background: #ddd;
  border-top: 4px solid #cccccc;
  bottom: -150px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.footer.static {
  position: static;
}
.footer.static .twitter-link-wrapper {
  margin-top: 8px;
}
/* line 64, ../sass/screen.scss */
.address-wrapper {
  border-right: 2px solid #cccccc;
  box-sizing: border-box;
  float: left;
  width: 50%;
}

/* line 71, ../sass/screen.scss */
.address {
  padding: 10px;
}

/* line 75, ../sass/screen.scss */
.twitter-link-wrapper {
  float: left;
  margin: 38px 0 0;
  text-align: center;
  width: 49%;
}
/* line 82, ../sass/screen.scss */
.twitter-link-wrapper a, .twitter-link-wrapper a:visited, .twitter-link-wrapper a:hover {
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
}

/* line 89, ../sass/screen.scss */
.twitter-timeline-wrapper {
  bottom: -500px;
  position: fixed;
  right: 10px;
  width: 48%;
  z-index: 10;
}

/* line 97, ../sass/screen.scss */
.calendar-wrapper {
  position: fixed;
  bottom: -500px;
  left: 10px;
  width: 48%;
  z-index: 10;
}

/* line 105, ../sass/screen.scss */
.hackathon {
  margin-top: 32px;
  text-align: center;
}
/* line 108, ../sass/screen.scss */
.hackathon img {
  width: 400px;
  display: block;
  margin: 0 auto;
}
/* line 113, ../sass/screen.scss */
.hackathon a {
  font-size: 20px;
}
