@import "variables";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, li, th, td,
{
	color:#333;
	font-family: "faricy-new-web",sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:400;
	line-height:1.4;
}

strong {font-style:normal;font-weight:700;}
em {font-style:italic;font-weight:400;}
em strong, strong em {font-style:italic;font-weight:700;}

a, a:visited, a:hover {color:#009ddc;}
a:hover {color:#333;}

.small {font-size:10px;line-height:16px;}

.address { 
  a {
    margin-right: 6px;
  }
}

h1 {
  color: $madworks-blue;
  font-size: 36px
}

p {
  margin: 8px 0 8px 0;
}

.conduct {
  max-width: 800px;
  margin: 0 auto;
  ul li {
    list-style: disc inside;
  }
}