@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "variables";
/* 
  This should be generic style that help format content, i.e. body style, h1, etc 
  For header/footer, look at _layout.scss 
*/
html, body
{
	color: $text-color;
	font-family: "open-sans-condensed",sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:400;
	line-height:1.4;
}

/* sorry mark */
html {
  @include box-sizing(border-box);
}
*, *:before, *:after {
  @include box-sizing(inherit);
}

strong {font-style:normal;font-weight:700;}
em {font-style:italic;font-weight:400;}
em strong, strong em {font-style:italic;font-weight:700;}

a, a:visited, a:hover {color:#009ddc;}
a:hover {color:#333;}

.small {font-size:10px;line-height:16px;}

.address { 
  a {
    margin-right: 6px;
  }
}

h1 {
  color: $madworks-blue;
  font-size: 36px
}

p {
  margin: 8px 0 8px 0;
}
img {
  max-width: 100%;
}

.conduct {
  max-width: 800px;
  margin: 0 auto;
  ul li {
    list-style: disc inside;
  }
}
.campus-masthead {
  position: relative;
  h1 {
    padding: 0;
    margin: 0;
    color: white;
    position: absolute;
    top: 32px;
    left: 32px;
  }
}

.mad {
  color: $madworks-blue;
}
.urp {
  color: $madworks-red;
}
