@import "variables";
html, body
{
	color:#333;
	font-family: "faricy-new-web",sans-serif;
	font-size:16px;
	font-style:normal;
	font-weight:400;
	line-height:1.4;
}

strong {font-style:normal;font-weight:700;}
em {font-style:italic;font-weight:400;}
em strong, strong em {font-style:italic;font-weight:700;}

a, a:visited, a:hover {color:#009ddc;}
a:hover {color:#333;}

.small {font-size:10px;line-height:16px;}

.address { 
  a {
    margin-right: 6px;
  }
}

h1 {
  color: $madworks-blue;
  font-size: 36px
}

p {
  margin: 8px 0 8px 0;
}
img {
  max-width: 100%;
}

.conduct {
  max-width: 800px;
  margin: 0 auto;
  ul li {
    list-style: disc inside;
  }
}
.campus-masthead {
  position: relative;
  h1 {
    padding: 0;
    margin: 0;
    color: white;
    position: absolute;
    top: 32px;
    left: 32px;
  }
}

.mad {
  color: $madworks-blue;
}
.urp {
  color: $madworks-red;
}

