header
  +box-shadow(inset 0 -4px 2px -2px #ccc)
  +box-sizing(border-box)
  +clearfix
  background: white
  min-height: 140px
  .contact-tab
    background: url('../images/contact-tab.png') no-repeat 0 0
    color: white
    padding: 4px 55px
    position: absolute
    right: 10px
    top: 0
    width: 210px
    a
      color: white
      text-decoration: none
      img
        position: relative
        top: 4px
  img.logo
    max-width: 40%
    float: left
  .locations
    +clearfix
    float: right
  .location
    float: left
    width: 180px
    h1, h2
      +text-shadow(none)
    h1
      color: $text-color
      font-weight: 100
    h2
      color: $light-text
      font-weight: 100
      font-size: 20px
      text-transform: none
    a:hover
      text-decoration: none


footer
  background: $dark-bg
  +clearfix
  .wrap
    padding: 20px
  section
    float: left
    width: 25%
    padding: 16px
    h3
      color: white
    a, a:visited
      color: $text-color
      &:hover
        color: $madworks-blue
    i.fa 
      color: $madworks-blue
      font-size: 20px

.wrap
  margin: 0 auto
  max-width: 1100px
  padding: 40px
  position: relative