/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "core";
@import "home";
@import "layout";

header {
	img.logo {
		float: none;
		max-width: 100%;
	}
	.location {
		h2 {
			font-size: 16px
		}
	}
}


footer {
	section {
		float: none;
		width: 100%;
	}
}

.sub-nav-tabs {
  display: none;
}
.campus {
	.portfolio .company {
		border-top: 1px solid $madworks-blue;
		padding-top: 8px;
		margin-top: 8px;
		h4 {
			font-size: 28px;
		}
		img {
			max-height: 30px;
			float: right;
		}
	}
	.tab {
		border-bottom: 2px solid #333;
		padding: 16px 0;
		h2 {
			font-size: 20px;
			margin-bottom: 8px;
		}
	}
	.application-link {
		display: block;
		font-size: 20px;
	}
	iframe {
		display: none;
	}
}