<footer>
  <div class="wrap">
    <section class="contact">
      <a href="http://twitter.com/madworkscw"><i class="fa fa-twitter-square"></i></a><br>
      <a href="/">Home</a><br>
      <a href="/about.html">About Us</a><br>
      <a href="/apply.html">Join Us</a><br>
      <a href="/contact-us">Contact Us</a><br>
    </section>
    <section>
      <h3>About:</h3>
      <p>
        We're a group of entrepreneurs, remote workers, freelancers and creators trying to make Madison a better place to work, live, and play.  We offer coworking space, mentoring, an early stage startup accelerator and much, much more!
      </p>
    </section>
    <section>
      <h3>Services:</h3>
      <ul>
        <li>1 GB fiber Internet connection</li>
        <li>Conference rooms for meetings</li>
        <li>Connections to financing and business advisory services</li>
        <li>Social and education events<li>
        <li>VOIP and Mailbox services</li>
      </ul>
    </section>
    <section>
      <h3>madworks coworking</h3>
      505 S Rosa Road, Suite 225<br>
      Madison, WI 53705<br>
      <br>
      Website design by <a href="http://makinhey.com">Makin' Hey</a> and <a href="http://tenforwardconsulting.com">Ten Forward Consulting</a>.
    </section>
  </div>
</footer>