<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Madworks Coworking</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/frk5puy.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="/js/core.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/screen.css" rel="stylesheet" media="screen and (min-width: 801px)" />
  <link href="/css/mobile.css" rel="stylesheet" media="screen and (max-width: 800px)" />
  <link href="/css/print.css" rel="stylesheet" media="print" />
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
  <header>
    <div class="wrap">
      <a href="/"><img class="logo" src="/images/madworks_coworking.png"></a>
      <div class="contact-tab"><a href="contact.html">CONTACT US</a> | <a href="http://twitter.com/madworkscw"><i class="fa fa-twitter-square"></i></a></div>

      <div class="locations">
        <div class="location">
          <h1>West</h1>
          <h2>University Research Park</h2>
        </div>
        <div class="location" style='display:none'>
          <h1>Downtown</h1>
          <h2>Metro Innovation Center</h2>
        </div>
        <div class="location">
          <a href="/campus/">
            <h1>Accelerator</h1>
            <h2>UW-Madison Campus</h2>
          </a>
        </div>
      </div>
    </div>
  </header>