    <h1>Current devices</h1>
    <table>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>OS</th>
      </tr>
      <tr>
        <td>Apple</td>
        <td>iPhone 3GS</td>
        <td>iOS 6.1.2</td>
      </tr>
      <tr>
        <td>Apple</td>
        <td>iPhone 5S</td>
        <td>iOS 7.0.4</td>
      </tr>
      <tr>
        <td>Apple</td>
        <td>iPad 2</td>
        <td>iOS 7.0.4</td>
      </tr>
      <tr>
        <td>Samsung</td>
        <td>Galaxy Nexus</td>
        <td>Android 4.2.1</td>
      </tr>
      <tr>
        <td>Samsung</td>
        <td>Galaxy SGH-I847</td>
        <td>Android 4.0.4</td>
      </tr>
      <tr>
        <td>Samsung</td>
        <td>Galaxy SGH-T959</td>
        <td>Andoid 2.2</td>
      </tr>
      <tr>
        <td>Nokia</td>
        <td>Lumia 810</td>
        <td>Windows Phone 8.0</td>
      </tr>
      <tr>
        <td>Amazon</td>
        <td>Kindle Fire</td>
        <td>7.4.6</td>
      </tr>
      <tr>
        <td>Google</td>
        <td>Glass</td>
        <td></td>
      </tr>
      <tr>
        <td>LG</td>
        <td>G2</td>
        <td>Android 4.4.2</td>
      </tr>
    </table>
